############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

############################
# Logs and databases
############################

# .tmp klasörünün tamamını ignore etme, sadece data.db'yi dahil et
# .tmp dizinini dahil et ama sadece veri dosyasını ekle
!.tmp/
!.tmp/data.db

*.log
*.sql
*.sqlite
*.sqlite3

############################
# Misc.
############################

*#
ssl
.idea
nbproject

# uploads klasörünü tamamen dahil et
!public/uploads/
!public/uploads/**

.tsbuildinfo
.eslintcache

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Package managers
############################

.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

############################
# Tests
############################

coverage

############################
# Strapi
############################

# .env dahil edilsin(mesin)
# !.env
.env

# Bu dosya production build ile ilgilidir, ignore edilebilir
license.txt

# Export klasörü manuel olarak yönetilebilir, istenirse dahil edilir
# !exports/

# Strapi cache/config dosyaları genelde ignore edilir
.strapi
dist
build
.strapi-updater.json
.strapi-cloud.json
